<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: base_head (~{:: title})">
  <title>Login page</title>
</head>

<body>
<div class="container">
  <div class="row mt-3">
    <div class="col-7">
      <h1>Login Page</h1>
    </div>
    <div class="col-5">
      <a class="btn btn-info" th:href="index">Home page</a>
      <a class="btn btn-info" th:href="profile">Profile page</a>
      <a class="btn btn-outline-secondary" th:href="logout">LOGOUT</a>
    </div>
  </div>
  <h1 class="mt-3">Welcome, <span th:text="${#authentication.name}"></span></h1>
  <div class="row mt-3">
    <div class="col-3">
      <h3>email login</h3>
      <form action="/login-email" method="post">
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" id="email" name="username" type="text">
        </div>
        <div class="form-group">
          <label for="password">Пароль</label>
          <input class="form-control" id="password" name="password" type="password">
        </div>
        <!--        <input name="_csrf" type="hidden" value="{{_csrf.token}}"/>-->
        <input class="btn btn-primary" type="submit" value="LOGIN"/>
        <!--        <a class="btn btn-primary" th:href="/login/google">Войти через Google</a>-->
      </form>
    </div>
    <div class="col-1"></div>
    <div class="col-2">
      <h3>login with:</h3>
      <div class="list-group mt-4">
        <p th:each="url : ${urls}">
          <a class="list-group-item active" th:href="${url.value}" th:text="${url.key}">Client</a>
        </p>
        <a class="list-group-item">For ESIA</a>

      </div>
    </div>
  </div>
</div>
</body>
</html>